html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    --rvv: calc(1rem + 1vh + 1vw);
    --green: #20C20E;
    --pink: rgb(255, 66, 211);
}

@font-face {
    font-family: 'Helico';
    src: url('font/helico/helico-centrica-roman.ttf');
}

html, body {
    max-width: 100vw;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

@media only screen and (max-width: 750px) {
    .gameboard {
        width: 66vw;
        height: 66vw;
    }
}

@media only screen and (min-width: 751px) {
    .gameboard {
        width: 500px;
        height: 500px;
    }

    header:hover {
        font-size: calc(3*var(--rvv));
        font-style: italic;
        font-family: 'Helico';
        color: red;
        text-shadow: 3px 3px var(--green);
    }

    .square {
        transition: .2s;
    }

    .square:hover {
        border: 3px solid var(--green);
        z-index: 5;
        font-family: 'Helico';
        font-size: calc(2*var(--rvv));
        color: var(--pink);
        text-shadow: 3px 3px var(--green);
    }
}
 

.x-bg {
    background-image: url('img/svg/x.svg');
    background-size: 133vw auto;
    background-position: center;
    background-repeat: no-repeat;
}

.o-bg {
    background-image: url('img/svg/o.svg');
    background-size: 100vw auto;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    cursor: pointer;
    margin-top: calc(.4*var(--rvv));
    margin-bottom: auto;
    font-size: calc(.8*var(--rvv));
}

.gameboard {
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "a1 a2 a3"
        "b1 b2 b3"
        "c1 c2 c3";
    border: 2px solid red;
}

.square {
    cursor: pointer;
    backdrop-filter: blur(15px);
    color: var(--green);
    font-size: calc(1.5*var(--rvv));
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 10px var(--pink);
}

.a1 {
    grid-area: a1;
}

.a2 {
    grid-area: a2;
}

.a3 {
    grid-area: a3;
}

.b1 {
    grid-area: b1;
}

.b2 {
    grid-area: b2;
}

.b3 {
    grid-area: b3;
}

.c1 {
    grid-area: c1;
}

.c2 {
    grid-area: c2;
}

.c3 {
    grid-area: c3;
}

footer {
    font-size: calc(.3*var(--rvv));
    margin-top: auto;
    margin-bottom: calc(.1*var(--rvv));
}