html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    --rvv: calc(1rem + 1vh + 1vw);
    --green: #20C20E;
    --pink: rgb(255, 66, 211);
    --angel-mode: brightness(5);
    --form-margin: calc(.5*var(--rvv));
    --form-height: calc(100px + 6*var(--rvv));
}

@font-face {
    font-family: 'Helico';
    src: url('font/helico/helico-centrica-roman.ttf');
}

html, body {
    max-width: 100vw;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

@media only screen and (max-width: 750px) {

    .gameboard,
    .click-to-start {
        width: 66vw;
        height: 66vw;
    }
}

@media only screen and (min-width: 751px) {

    .gameboard,
    .click-to-start {
        width: 500px;
        height: 500px;
    }

    header:hover {
        margin-top: 0;
        font-size: calc(3*var(--rvv));
        font-style: italic;
        font-family: 'Helico';
        color: red;
        text-shadow: 3px 3px var(--green);
    }

    .clickable:hover {
        font-style: italic;
        border: 2px solid var(--green);
        background: rgba(0, 0, 0, 0.932);
        color: #FFFF9E;
        text-shadow: 1px 1px red;
    }

    .close-button:hover {
        color: white;
        background-color: black;
        border: 1px solid red;
    }
    
    .form-window button:hover {
        font-style: italic;
        border: 2px solid red;
        background: rgba(0, 0, 0, 0.712);
        color: #FFFF9E;
        text-shadow: 1px 1px red;
    }

    .square {
        transition: .2s;
    }

    .square:hover {
        border: 3px solid var(--green);
        z-index: 3;
        font-family: 'Helico';
        font-size: calc(2*var(--rvv));
        filter: invert(1);
        text-shadow: 3px 3px var(--green);
    }
}

.init-bg {
    background-image: url('img/svg/x.svg');
    background-size: 133vw auto;
    background-position: center;
    background-repeat: no-repeat;
}

.x-bg {
    background-image: url('img/svg/x.svg');
    background-size: 133vw auto;
    background-position: center;
    background-repeat: no-repeat;
}

.o-bg {
    background-image: url('img/svg/o.svg');
    background-size: 100vw auto;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    cursor: pointer;
    margin-top: calc(.4*var(--rvv));
    /* margin-bottom: auto; */
    font-size: calc(.8*var(--rvv));
    display: flex;
    justify-content: center;
}

header,
footer {
    width: 100%;
    max-height: calc(var(--rvv));

}

.click-to-start {
    padding: calc(var(--rvv));
    backdrop-filter: var(--angel-mode);
    border: 2px solid rgb(0, 225, 0);
    z-index: 9;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.clickable {
    font-family: 'Helico';
    width: calc(4*var(--rvv));
    color: white;
    background: rgb(32,194,14);
    background: linear-gradient(90deg, rgba(32,194,14,1) 22%, rgba(255,66,211,1) 49%, rgba(255,0,0,1) 82%);
    border-radius: calc(var(--rvv));
    padding: calc(0.4*var(--rvv)) calc(0.3*var(--rvv)) calc(0.3*var(--rvv));
    border: 1px solid red;
    cursor: pointer;
    font-size: calc(.5*var(--rvv));
}

.form-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: var(--form-height);
    width: var(--form-height);
    z-index: 10;
    background: black;
    color: var(--green);
    border: 3px solid var(--green)
}

.close-button {
    position: absolute;
    right: calc(.4*var(--rvv));
    top: calc(.4*var(--rvv));
    font-size: 140%;
    border: 1px solid black;
    padding: calc(.1*var(--rvv));
    border-radius: 50%;
    cursor: pointer;
}

.form-window form {
    height: var(--form-height);
    width: var(--form-height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: calc(var(--rvv));
}

.player-label,
legend {
    font-size: 120%;
}

.player-one-field {
    margin-top: var(--form-margin);
}

.player-one-field,
fieldset,
.player-two-field {
    margin-left: var(--form-margin);
    margin-right: var(--form-margin);
}

.play-button {
    margin-bottom: var(--form-margin);
}

.form-window input[type='text'] {
    margin-top: calc(-1*var(--rvv));
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid red;
}

.form-window button {
    align-self: center;
    width: 50%;
    font-family: 'Helico';
    color: white;
    background: rgb(32,194,14);
    background: linear-gradient(90deg, rgba(255,0,0,1) 22%, rgba(255,66,211,1) 49%, rgba(32,194,14,1) 82%);
    border-radius: calc(var(--rvv));
    padding: calc(0.4*var(--rvv)) calc(0.3*var(--rvv)) calc(0.3*var(--rvv));
    border: 1px solid var(--green);
    cursor: pointer;
    font-size: calc(.5*var(--rvv));
}

.overlay {
    z-index: 5;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(8px);
}

.hide {
    display: none;
}

.gameboard {
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "a1 a2 a3"
        "b1 b2 b3"
        "c1 c2 c3";
    border: 2px solid red;
}

.square {
    cursor: pointer;
    backdrop-filter: blur(15px);
    font-size: calc(1.5*var(--rvv));
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 10px var(--pink);
}

[data-symbol='x'] {
    color: var(--green);
    border: 2px solid var(--green);
}

[data-symbol='o'] {
    color: red;
    border: 2px solid red;
}

.a1 {
    grid-area: a1;
}

.a2 {
    grid-area: a2;
}

.a3 {
    grid-area: a3;
}

.b1 {
    grid-area: b1;
}

.b2 {
    grid-area: b2;
}

.b3 {
    grid-area: b3;
}

.c1 {
    grid-area: c1;
}

.c2 {
    grid-area: c2;
}

.c3 {
    grid-area: c3;
}

footer {
    display: flex;
    justify-content: center;
    font-size: calc(.3*var(--rvv));
    /* margin-top: auto; */
    margin-bottom: calc(.1*var(--rvv));
}